@tailwind base;
@tailwind components;
@tailwind utilities;

.landing_bg-image {
  background-image: url("../../public/image.png");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.bg_custom_gradient {
  background: rgb(207, 255, 129);
  background: linear-gradient(
    180deg,
    rgba(207, 255, 129, 1) 0%,
    rgba(212, 251, 192, 1) 7%,
    rgba(242, 253, 255, 1) 23%,
    rgba(217, 247, 255, 1) 85%,
    rgba(134, 213, 253, 1) 90%,
    rgba(117, 192, 255, 1) 95%,
    rgba(110, 182, 255, 1) 100%
  );
}
